body {
    background-color: #121212;
    color: white;
}

nav {
    background-color: #b71c1c;
}

.hero {
    background: url('https://source.unsplash.com/1600x900/?cinema,movie') no-repeat center center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.btn-custom {
    background-color: #FFD700;
    color: black;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: #ffcc00;
}